* {
  font-family: "Kanit", sans-serif;
  box-sizing: border-box;
}
body {
  background-color: #eff5f5;
  color: #497174;
}
.users-table {
  width: 100%;
  text-align: center;
  border: 2px solid #497174;
}
h1 {
  margin-top: 10px;
  text-align: center;
}
img {
  border-radius: 50%;
  border: 2px solid #497174;
}
.users {
  width: 70%;
  display: flex;
  flex-direction: column;
  align-items: center;
}
main {
  display: flex;
}
.addUser {
  display: flex;
  flex-direction: column;
  width: 30%;
  align-items: center;
}
form {
  width: 97%;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  margin-left: 10px;
  font-size: 20px;
  border: 2px solid #497174;
}
form > input {
  width: 90%;
  height: 35px;
  margin: 5px 0 10px 20px;
  border: 2px solid #497174;
  background-color: #eff5f5;
}
::placeholder {
  color: #497174;
  opacity: 65%;
}
form > label {
  margin-left: 20px;
}
input[type="file"] {
  padding: 5px;
}
.users button {
  width: 150px;
  height: 40px;
  font-size: 18px;
  background-color: #d6e4e5;
  border: 1px solid #b6c1c2;
  color: #497174;
  border-radius: 10%;
  box-shadow: 1px 1px 20px rgb(111, 111, 111);
}
.addUser button {
  width: 150px;
  height: 40px;
  font-size: 18px;
  background-color: #d6e4e5;
  border: 1px solid #b6c1c2;
  color: #497174;
  border-radius: 10%;
  box-shadow: 1px 1px 50px rgb(152, 152, 152);
  margin: 0 0 10px 160px;
}
button:hover{
  cursor: pointer;
}
button:active{
  background-color: #EB6440;
  cursor: pointer
}